.header__links {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;  
  padding-left: 0;
  width: 331px;
  height: 22px;
  position: absolute;
  left: 554px;
  top: 47px;
  box-sizing: border-box;
  border: 1px solid blue;
  
}