@import url(./__feature/posts-blog__feature.css);
@import url(./__feature-left/posts-blog__feature-left.css);
@import url(./__feature-right/posts-blog__feature-right.css);
@import url(./__author/posts-blog__author.css);
@import url(./__title/posts-blog__title.css);
@import url(./__link/posts-blog__link.css);
@import url(./__cards/posts-blog__cards.css);
@import url(./__card/posts-blog__card.css);
@import url(./__heading/posts-blog__heading.css);
@import url(./__text/posts-blog__text.css);
@import url(./__link-card/posts-blog__link-card.css);

.posts-blog {
    box-sizing: border-box;
    padding-top: 88px;
    padding-bottom: 80px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
