.posts-blog__feature {
  height: 370px;
  width: 1170px;
  margin-top: 71px;
  background: #231F20;
  background-image: url(../../../images/Feature.png);
  background-size: 400px 370px;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}