.cta-section__subtitle {
    font-size: 32px;
    line-height: 45px;
    font-family: 'Roboto';
    font-weight: normal;
    text-align: justify;
    vertical-align: text-top;
    color: #000000;
    margin: 0;
}
