@import url(./__navigation-bar/header__navigation-bar.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);


.header {
  background: #fafafa;
  position: absolute;
  width: 1440px;
  height: 116px;
  left: 0px;
  top: 1px;
  display: flex;
  align-items: center;
}