.cta-section__title {
    font-family: 'Roboto Bd';
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    text-align: left;
    vertical-align: text-top;
    color: #000000;
    margin: 0;
}
