@import url(./__left/feature-split__left.css);
@import url(./__right/feature-split__right.css);
@import url(./__text/feature-split__text.css);
@import url(./__title/feature-split__title.css);

.feature-split {
  height: 600px;
  background: #f1f1f2;
  display: flex;
}
