.posts-blog__author {
    width: 84px;
    height: 20px;
    margin: 63px 608px 0 0;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFFFFF;   
}