.footer__copyright {
    width: 96px;
    height: 20px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: super;
    color: #000000;
    margin: 0;
    margin-right: 14px;
}
