.footer__copyright {
    width: 104px;
    height: 20px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: super;
    color: #000000;
    margin: 0;
    position: absolute;
    bottom: 35px;
    left: 608px;
}