@import url(./_place/subtitle_place_posts-tall.css);
@import url(./_place/subtitle_place_posts-blog.css);

.subtitle {
  height: 25px;
  margin: 23px auto 0;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto';
  font-weight: normal;
  text-align: center;
  color: #000000;
}