.posts-tall__link {
  width: 67px;
  height: 20px; 
  display: inline-block; 
  margin: 74px 0 0 24px;
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.posts-tall__link::after {
  content: "\203A";
}