.posts-tall__link {
  height: 20px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.posts-tall__link::after {
  content: "\203A";
}
