@import url(./__links/footer__links.css);
@import url(./__links-list/footer__links-list.css);
@import url(./__link/footer__link.css);
@import url(./__line/footer__line.css);
@import url(./__social-icons/footer__social-icons.css);
@import url(./__social-icons-list/footer__social-icons-list.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__image/footer__image.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-down/footer__link-down.css);

.footer {
  width: inherit;
  height: 410px;
  position: absolute; 
  top: 3503px; 
  background: #fafafa;
  display: flex;  
  flex-direction: column;
}