@import url(./__links/footer__links.css);
@import url(./__links-list/footer__links-list.css);
@import url(./__link/footer__link.css);
@import url(./__line/footer__line.css);
@import url(./__social-icons/footer__social-icons.css);
@import url(./__social-icons-list/footer__social-icons-list.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__image/footer__image.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-down/footer__link-down.css);
@import url(./__down/footer__down.css);

.footer {
  height: 410px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 115px;
  padding-bottom: 35px;
  position: relative;
}
