.feature-split__title {
    width: 194px;
    height: 45px;
    margin: 164px 413px 0 0;  
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;    
    color: #000000;  
}