.posts-blog__link {
    width: 90px;
    height: 26px;  
    margin: 60px 602px 0 0;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFFFFF;
}