@import url(./__left/hero-side__left.css);
@import url(./__right/hero-side__right.css);
@import url(./__title/hero-side__title.css);
@import url(./__question/hero-side__question.css);

.hero-side {
  height: 700px;
  background: #f1f1f2;
  display: flex;
}
